.content-window-buy-product {
    width: 364px;
    height: 968px;
    background: #FDFDFD;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    margin-top: 48px !important;
    margin-right: 90px;
    left: 1148px;
}

.btn-visit-company {
    outline: none;
    border: none;
    width: 186px;
    height: 40px;
    background: #205EFF;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FAFAFA;
}

.title-buy-company {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.avatar-company-buy {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: #C4C4C4;
}

.line-separator-buy-product {
    width: 243px;
}

.line-separator-buy-product-two {
    width: 138.5px;
}

.line-separator-buy-product,
.line-separator-buy-product-two {
    height: 0;
    border: 1px solid #2C2C2C;
}

.title-buy-product {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #2C2C2C;
}

.subtitle-buy-company {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #414141;
}

.paragraph-buy-company {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #595959;
    width: 322px;
}

.star-icon-calification-buy {
    height: 19.31px;
}

.textarea-buy-company {
    background: #F8F8F8;
border: 1.39663px solid #205EFF;
box-sizing: border-box;
border-radius: 10px;
height: 134px;
outline: none;
width: 322px;
padding: 8px 16px;
}

.btn-send-buy-company {
    width: 99px;
height: 40px;
background: #205EFF;
border-radius: 8px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
color: #FAFAFA;
outline: none;
border: none;
}

.content-btn-send-buy-company {
    width: 322px;
}

.content-units-products {
    width: 100%;
}

.units-products-input {
    background: #F8F8F8;
    border: 2px solid #205EFF;
    box-sizing: border-box;
    border-radius: 15px;
    width: 147px;
    height: 40px;
    padding: 0 16px;
    outline: none;
}

.content-buy-total-product {
    width: 322px;
}

.btn-buy-product {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FAFAFA;
    outline: none;
    border: none;
    background: #3BB54A;
    width: 119px;
    border-radius: 8px;
    height: 50px;
}