.tab-filter-products-one,
.tab-filter-products-two {
    width: 171px;
    height: 146px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #2C2C2C;
    padding: 0 !important;
}

.tab-filter-products-one {
    background: #E3EBFF;
}

.icon-tab-filter-products-one,
.icon-tab-filter-products-two,
.icon-tab-filter-products-three,
.icon-tab-filter-products-four,
.icon-tab-filter-products-five,
.icon-tab-filter-products-six {
    font-size: 48px;
}

.icon-tab-filter-products-one {
    color: #205EFF;
}

.icon-tab-filter-products-two {
    color: #FF7F40;
}

.icon-tab-filter-products-three {
    color: #FFC520;
}

.icon-tab-filter-products-four {
    color: #8F4DFF;
}

.icon-tab-filter-products-five  {
    color: #54E122;
}

.icon-tab-filter-products-six {
    color: #82807B;
}

.tab-content-filter-style {
    width: 100%;
    height: 252px;
    background: #E3EBFF;
}

.content-global-filter-tab {
    width: 1026px;
    margin-left: 90px;
}