.acordeon{
    width: 500px;
    margin: 100px auto;
}

.acordeon .item{
    display: block;
}

.acordeon .item .header button{
    display: block;
    width: 100%;
    padding: 20px;
}
.acordeon .item .content{
    transition: height 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
    height: 0;
}

.content-line {
   border: 2px solid rgb(61, 61, 59);
}

.acordeon .item .content.show{
    height: 150px;
}

.section-page-support {
    margin-top: 200px !important;
}

.title-btn-support {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
color: #2C2C2C;
border: none;
outline: none;
}

.content-text-support {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
color: #2C2C2C;
}