.search-products-filter {
    height: 50px;
    background: #FDFDFD;
    border-radius: 40px;
    width: 942px;
}

.input-search-products-filter {
    width: 860px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    border: none;
    outline: none;
}

.selects-filter-search {
    width: 942px;
}

.title-filter-select {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #2C2C2C;
}

