.category-filter {
    width: 400px;
    height: 40px;
    background: #F8F8F8;
    border: 2px solid #205EFF;
    box-sizing: border-box;
    border-radius: 15px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #2C2C2C;
}

.content-card-section-info {
    width: 364px;
    margin-right: 90px;
}

.content-img-section-info {
    background: #FDFDFD;
    height: 227px;
    width: 100%;
}

.shadown-img-section-info {
    height: 80px;
    top: 818px;
    width: 364px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
}

.content-section-info {
    width: 100%;
    height: 170px;
    background: #FDFDFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-card-section-info {
    outline: none;
    border: none;
    background: #205EFF;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FDFDFD;
    height: 50px;
}

.title-section-card-info {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FDFDFD;
    margin-top: 195px !important;
    margin-right: 195px !important;
}

.paragraph-card-info-section {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #2C2C2C;
    width: 304px;
}

.banner-section-profile {
    height: 230px;
    margin-top: 100px !important;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


