.category-filter {
    width: 205px;
    height: 40px;
    background: #F8F8F8;
    border: 2px solid #205EFF;
    box-sizing: border-box;
    border-radius: 15px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #2C2C2C;
}